<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>bilge baykuş</title>
  <!-- css stylesheets -->
  <link rel="icon" type="image/png" href="/images/mortarboard.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/2d1d7a8b2c.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/"><img src="/images/owl.png" alt="icon-img"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto mr-3">
        <li class="navbar-item"><a class="nav-link" href="/">hakkimizda</a></li>
        <li class="navbar-item"><a class="nav-link" href="/">misyon-vizyon</a></li>
      </ul>

      <form action="/index" method="get" class="form-inline navbar-search">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="ee202..." autocomplete="off">
        <button class="btn btn-outline-light my-2 my-sm-0" name="page" value=1 type="submit">ara</button>
      </form>

    </div>
  </nav>
