<%- include('partials/header') %>

<div class="jumbotron">
  <h1 class="display-4">hata!</h1>
  <p class="lead">özür dilerim ancak böyle bir sayfa yok. aşağıdaki butona tıklayarak geri dönebilirsin</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/" role="button">geri dön</a>
</div>

<%- include('partials/footer') %>
