<%- include('partials/homeHeader') %>

<section id="home">
  <div class="container search-div">
    <h1 class="big-title">bilge baykuş</h1>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <form action="/index" method="get" class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
            </div>
            <!--end of col-->
            <div class="col">
              <input class="form-control form-control-lg form-control-borderless" type="search" name="search" placeholder="hoca ya da ders kodu ara..." autocomplete="off">
            </div>
            <!--end of col-->
            <div class="col-auto">
              <button class="btn btn-lg btn-primary btn-main-search" name="page" value=1 type="submit">ara</button>
            </div>
            <!--end of col-->
          </div>
        </form>
      </div>
      <!--end of col-->
    </div>
  </div>
</section>

<section id="testimonials">

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2 class="testimonial-text">Keşke ee373 almadan önce bilge baykuşa baksaydım.</h2>
        <img class="testimonial-image" src="/images/samet-img.jpeg" alt="samet-img">
        <em class="author">Şükrü Dindar</em>
      </div>
      <div class="carousel-item">
        <h2 class="testimonial-text">Boş zamanlarımda bu siteye girip vakit geçiriyorum.</h2>
        <img class="testimonial-image" src="/images/yalcin-img.jpg" alt="yalçın-img">
        <em class="author">Yalçın Abi</em>
      </div>
      <div class="carousel-item">
        <h2 class="testimonial-text">Artık kolay bir şekilde htr seçebileceğim.</h2>
        <img class="testimonial-image" src="/images/fatih-img.JPG" alt="fatih-img">
        <em class="author">F.M. Yılmaz</em>
      </div>
      <div class="carousel-item">
        <h2 class="testimonial-text">Seçmeli derslerime bu siteden bakıyorum.</h2>
        <img class="testimonial-image" src="/images/bugra-img.jpeg" alt="cenk-img">
        <em class="author">Buğra Taksuk</em>
      </div>
      <div class="carousel-item">
        <h2 class="testimonial-text">É divertido verificar este site antes de treinar.</h2>
        <img class="testimonial-image" src="/images/ronaldo-img.jpeg" alt="ronaldo-img">
        <em class="author">C. Ronaldo</em>
      </div>
      <div class="carousel-item">
        <h2 class="testimonial-text">я так благодарен, что нашел этот сайт</h2>
        <img class="testimonial-image" src="/images/akif-img.jpg" alt="akif-img">
        <em class="author">Akif Acar</em>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</section>




<%- include('partials/footer') %>
