<%- include('partials/header') %>
<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="/"><img src="/images/owl.png" alt="icon-img"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto mr-3">
      <li class="navbar-item"><a class="nav-link" href="/login">giriş</a></li>
      <li class="navbar-item active"><a class="nav-link" href="/register">üye ol</a></li>
    </ul>

    <form action="/index" method="get" class="form-inline navbar-search">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="ee202..." autocomplete="off">
      <button class="btn btn-outline-light my-2 my-sm-0" name="page" value=1 type="submit">ara</button>
    </form>
  </div>


</nav>
<%- include('partials/alerts') %>

<div class="container-fluid bg-light py-5 text-center">
  <h1>üye ol</h1>

  <div class="row">
    <div class="col-sm-12">
      <div class="card col-10 col-lg-3 login-card mx-auto px-0">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">e-mail</label>
              <div class="row">
                <div class="col-6">
                  <input type="text" class="form-control" name="username" autocomplete="off" required>
                </div>
                <div class="col-6">
                  <input type="text" readonly class="form-control-plaintext" id="staticDomain" value="@boun.edu.tr">
                </div>
              </div>



            </div>
            <div class="form-group">
              <label for="password">şifre</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <div class="form-group">
              <label for="second-password">şifreyi yeniden gir</label>
              <input type="password" class="form-control" name="secondPassword" required>
            </div>
            <button type="submit" class="btn btn-success login-button">üye ol</button>
          </form>

        </div>
        <div class="card-footer">
          <a class="mt-2" href="#" data-toggle="modal" data-target="#activationMailModal">aktivasyon maili gelmedi</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="activationMailModal" tabindex="-1" aria-labelledby="activationMailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">aktivasyon maili gönderme</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/activation" method="post">
      <div class="modal-body">

        <div class="form-group">
          <label for="email">e-mail</label>
          <div class="row">
            <div class="col-4">
              <input type="text" class="form-control" name="username" autocomplete="off">
            </div>
            <div class="col-4">
              <input type="text" readonly class="form-control-plaintext" id="staticDomain" value="@boun.edu.tr">
            </div>
          </div>
        </div>
        <small id="resetPasswordHelp" class="form-text text-muted">lütfen en az 20 dakika beklemeden yeni bir mail göndermeyin</small>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">çıkış</button>
        <button type="submit" name="instructor" value="" class="btn btn-primary">gönder</button>
      </div>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
