html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

textarea {
  resize: none;
}

/* home section */
#home {
  height: 70%;
}

.big-title {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 2%;
}

.home-bg-img {
  position: absolute;
  width: 30%;
  top: 4%;
  right: 20%;
}

/* testimoninal section */
#testimonials {
  text-align: center;
  background-color: #6e7582;
  color: white;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.testimonial-text {
  font-size: 5rem;
  margin-bottom: 50px;
}

#carouselExampleControls {
  height: 100%
}

.carousel-item {
  padding: 7% 15%;
}

/* search bar */
.search-div {
  margin-top: 15%;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* review section */
.review-block {
  padding: 1% 3%;
  margin-bottom: 2%;
  margin-left: 1%;
  background-color: #fcd1d1;
}

.review-title {
  font-size: 1.2rem;
}

.review-content {
  font-size: 1rem;
}

.review-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.progress {
  margin-top: 0.3rem;
}
/* rate section */
.btn-rate.btn-danger {
  margin-left: 0.5rem;
}

@media (max-width: 992px) {
  h1 {
    font-size: 6.5rem;
  }

  h2 {
    font-size: 5rem;
  }

  /* home section */
  #home {
    height: 80%;
  }

  h1.big-title {
    font-size: 7rem;
  }

  /* navbar section */
  .navbar-brand img {
    margin-left: 1rem;
    width: 7.5rem;
  }

  .navbar-toggler-icon {
    font-size: 4rem;
  }

  .navbar-item {
    font-size: 3rem;
  }

  .navbar-toggler {
    width: 7rem;
    height: 7rem;
  }

  .navbar-search {
    margin: 2rem 0;
  }

  .navbar-search button {
    height: 4rem;
    width: 5.3rem;
    font-size: 2rem;
  }

  /* testimonial section */
  .testimonial-image {
    width: 25%;
  }

  .testimonial-text {
    font-size: 4.5rem;
  }

  .author {
    font-size: 2rem;
  }

  .carousel-item {
    margin-top: 10%;
  }

  /* search section */
  .search-div {
    margin-top: 25%;
  }

  .fa-search {
    font-size: 3rem;
  }

  .btn-main-search {
    height: 5rem;
    width: 8rem;
    font-size: 2.8rem;
  }

  .row.no-gutters.align-items-center {
    margin-bottom: 0;
  }

  input[type="search"] {
    font-size: 2.2rem;
  }

  /* index section */
  tbody, thead {
    font-size: 4rem;
  }

  .page-link {
    display: none;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
  }

  .page-link[aria-label="Previous"], .page-link[aria-label="Next"] {
    display: block;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
  }

  /* rate section */
  input[type="range"] {
    height: 5rem;
  }

  .form-group label, input[type="text"], #rating-textarea {
    font-size: 3.5rem;
  }

  label.form-check-label {
    font-size: 3rem;
    margin-left: 3.2rem;
  }

  input[type='radio'] {
    transform: scale(3);
    margin-top: 2.2rem;
    margin-left: 1rem;
  }

  input[type="range"] {
    width: 300px;
    background: transparent;
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 48px;
    width: 48px;
    background: #555;
    cursor: pointer;
    margin-top: -12px;
  }

  input[type="range"]::-moz-range-thumb {
    height: 48px;
    width: 48px;
    background: #555;
    cursor: pointer;
  }

  input[type="range"]::-ms-thumb {
    height: 48px;
    width: 48px;
    background: #555;
    cursor: pointer;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    background: #ccc;
  }

  input[type="range"]:active::-webkit-slider-runnable-track {
    background: #d6d6d6;
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    background: #ccc;
  }

  input[type="range"]::-ms-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type="range"]::-ms-fill-lower {
    background: #ccc;
  }

  input[type="range"]:focus::-ms-fill-lower {
    background: #ddd;
  }

  input[type="range"]::-ms-fill-upper {
    background: #ccc;
  }

  input[type="range"]:focus::-ms-fill-upper {
    background: #ddd;
  }

  .btn-rate {
    height: 5rem;
    width: 10rem;
    font-size: 2.4rem;
  }
  .btn-rate.btn-danger {
    margin-left: 2rem;
  }

  /* instructor section */
  .review-title {
    font-size: 3.4rem;
  }

  .review-card, .rating-type, .course-title {
    font-size: 3rem;
  }

  .row, .card.course-card {
    margin-bottom: 3rem;
  }

  .main-progress.progress {
    height: 4rem;
    margin-top: 0;
  }

  .progress {
    height: 3rem;
    margin-top: 0.9rem;
  }

  .progress-bar {
    font-size: 2.3rem;
  }

  .review-container {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .first-review-card {
    margin-top: 5rem;
  }

  .review-button {
    margin: 3rem 0 6rem;
    height: 10rem;
    width: 28rem;
    font-size: 3rem;
  }

  .number-of-reviews {
    display: none;
  }

  /* courses section */
  .card-title.instructor-name {
    font-size: 3.5rem;
  }
  .card-header {
    padding: 2.5rem 0;
  }



  /* footer section */
  .footer-paragraph {
    font-size: 1.8rem;
  }

  i.footer-icon {
    font-size: 2rem;
    margin-right: 3rem;
  }
}

/* footer section */
#footer {
  padding: 4% 10%;
}

.footer-paragraph {
  color: #8f8f8f;
}

.footer-icon {
  margin: 0 10px 30px;
}
