html,
body {
  /* height: 100%;
  width: 100%; */
  margin: 0;
}
textarea {
  resize: none;
}

/* home section */
#home {
  height: 600px;
}

.big-title {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 2%;
}

.home-bg-img {
  position: absolute;
  width: 30%;
  top: 4%;
  right: 20%;
}

/* .overlay {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
} */

/* testimoninal section */
#testimonials {
  text-align: center;
  background-color: #6e7582;
  color: white;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;

  margin: 20px;
  position: relative;
  overflow: hidden;
}
.testimonial-text {
  font-size: 5rem;
  margin-bottom: 50px;
}

#carouselExampleControls {
  height: 100%
}
.carousel-item {
  padding: 7% 15%;
}

/* search bar */
.search-div {
  margin-top: 15%;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* review section */
.review-block {
  padding: 1% 3%;
  margin-bottom: 2%;
  margin-left: 1%;
  background-color: #fcd1d1;
}
.review-title {
  font-size: 1.2rem;
}
.review-content {
  font-size: 1rem;
}
.review-container {
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (max-width: 1000px) {
  .review-container {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
  .review-button {
    margin-bottom: 1.5rem;
  }
}

/* rate form section */


/* footer section */
#footer {
  padding: 4% 10%;
}

.footer-paragraph {
  color: #8f8f8f;
}

.footer-icon {
  margin: 0 10px 30px;
}
